.calculator__keys { 
  display: grid; 
  flex-flow: column;
  align-items: center;
}

.input_keys,.hide {
  display: none;
}

.pie {
  flex: 1;
  margin-top: 50px;
  border-radius: 100%;
  height: calc(var(--size, 200) * 2px);
  position: relative;
  width: calc(var(--size, 200) * 2px);
  overflow: hidden;
}

.pie_segment {
  visibility: hidden;
  --a: calc(var(--over50, 0) * -100%);
  --b: calc((1 + var(--over50, 0)) * 100%);
  --degrees: calc((var(--offset, 0) / 100) * 360);
  height: 100%;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees, 0) * 1deg));
  clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  transform-origin: 50% 100%;
  width: 100%;
}

.pie_segment:after,
.pie_segment:before {
  background: var(--bg);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.pie_segment:before {
  --degrees: calc((var(--value, 45) / 100) * 360);
  transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
  transform-origin: 50% 0;
}

.pie_segment:after {
  opacity: var(--over50, 0);
}

.chart,
.input {
  background: #0A2443;
}

.container {
  display: flex;
  height: 90vh;
}

footer {
  flex: 1 100%;
  height: 5vh;
}

header {
  height: 5vh;
}

.input {
  flex: 1;
  margin-left: 1px;
}

.chart {
  flex: 1;
  margin-right: 1px;
}

.title {
  display: flex;
  align-items: center;
}

.result {
  color: #85BB65;
  font-size: 56px;
  font-family: sans-serif, 'Roboto';
  margin: 5px;
}

h1 {
  color: #85BB65;
  font-family: Righteous;
  font-size: 38px;
  margin: 20px;
  font-weight: normal;
}

.piecontainer {
  display: grid;
  justify-items: center;
}

body {
  margin: 0;
}

.fas {
  font-size: 10vh;
}
.fa-car{
  color:#F5A9E1
}
.fa-file-invoice-dollar {
  color:#31B404
}
.fa-money-check {
  color:#0489B1
}
.fa-shopping-basket {
  color:#0080FF
}
.fa-home {
  color:#AC58FA
}
.fa-route{
  color:#DF7401
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

button {
  width: 10vh;
  background: #0A2443;
  border: none;
}

.buttons {
  margin-top: 100px;
}

.input_keys {
  display: flex;
  flex-direction: column;
  display: none;
}

.euros { 
  display: flex;
  flex-direction: column;
  color: #85BB65;
  font-family: sans-serif, 'Roboto';
  font-size: 20px;
}

input {
  width: 10vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance:textfield;
}

.costbtn {
  color: #85BB65;
  font-family: sans-serif, 'Roboto';
  font-size: 14px;
  font-weight: bold;
  background: rgb(18, 69, 131);
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  margin: 10px;
}

footer {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  font-size: 10px;
  color: rgb(80, 80, 80);
}

.foot {
  margin-left: 20vh;
  margin-right: 20vh;
}

.resize {
  font-size: 5vh;
  color: #85BB65;
}

.maintitle {
  justify-content: left;
  color: #85BB65;
  font-size: 30px;
  font-family: Righteous;
  padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
  }
}

input {
  border: 5px solid rgb(8, 28, 53);
  border-radius: 4px;
}

.ibtn {
  margin: 40px;
}